{% extends "web/base.html" %}
{% load static %}

{% block titulo %}FIRULAI{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/styles/alta_adopcion.css' %}">
{% endblock %}

{% block main %}
    <h2>Formulario de Adopción</h2>
    <h3> Complete el siguiente Formulario</h3>
    <form method="post" action="{% url 'alta_adopcion' %}">
        {% csrf_token %}
        {{formulario.as_p}}
    <button type="submit">Enviar</button>
    <a href="{% url 'alta_adopcion' %}">Volver</a>

       
{% endblock %}


