{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIRULAI - {% block titulo %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'web/styles/base.css' %}">

    {% block extra_css %}{% endblock %}

</head>
<body>
    <header>
        <h1>Firulai: Siempre hay un lugar para una Mascota</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Index</a></li>
                <li><a href="{% url 'Refugio_1' %}">Refugio N°1</a></li>
                <li><a href="{% url 'FormularioAdop' %}">Formulario de Adopción</a></li>
            </ul>
        </nav>
    </header>
    <main class="centered">
        {% block main %}{% endblock %}
    </main>
    <footer class="centered">
        <p>FIRULAI - Todos los derechos reservados</p>
    </footer>
</body>
</html> 